@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #374d5b;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar .logo {
  color: #fbfbf9;
  cursor: pointer;
}
.nav-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list ul a {
  text-decoration: none;
}
.nav-list ul li {
  margin-left: 40px;
  list-style: none;
  font-weight: 400;
  color: #fbfbf9;
  cursor: pointer;
  font-size: 16px;
}
.nav-list ul li:hover {
  color: #99adbe;
}

/* container */

.container {
  background-image: url(img/sneaker-that-has-word-nike-it.jpg);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 25%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container h1 {
  font-size: 100px;
  color: #fff;
  /* font-family: "Montserrat", sans-serif; */
  padding-bottom: 8px;
}

.container h2 {
  font-size: 100px;
  color: #fff;
}

.container p {
  font-size: 30px;
  color: yellow;
  padding-bottom: 20px;
}
.container button {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(244, 200, 11);
  color: black;
  outline: none;
  border: none;
  text-transform: uppercase;

  transition: 0.5s ease-in;
  font-weight: 400px;
  cursor: pointer;
}

.container button:hover {
  background-color: lightblue;
  color: white;
}

.feature {
  padding: 40px 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(26, 25, 23);
}
.feature-box h1 {
  text-align: center;

  padding: 20px;
  color: #fff;
}

.feature .feature-box img {
  width: 300px;
  height: 200px;
  margin-left: 20px;
  background-size: cover;
}
.feature .feature-box img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}

#product1 {
  padding: 20px 80px;
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  height: 350px;
  padding: 20px 12px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product1 .pro img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: lightblue;
}
#product1 .pro .des .discount {
  padding-top: 10px;
  text-decoration: line-through;
  color: lightcoral;
}

#product1 .pro .des h5 {
  padding-top: 10px;
  color: #1a1a1a;
  font-size: 16px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(253, 253, 83);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: lightgreen;
}

#sales {
  padding: 20px 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/banner.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#sales h3 {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}

#sales h1 {
  padding-bottom: 20px;
  font-size: 30px;
}
#sales h1 span {
  color: red;
}

#sales button {
  width: 100px;
  height: 30px;
  background-color: #5cbe88;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sales button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}

#section-holder {
  padding: 30px 80px;
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: space-between;
  flex-wrap: wrap;
}
#section-holder .section-one {
  width: 600px;
  background-image: url(img/shoe-b-1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section-holder .section-one h1 {
  color: red;
  font-size: 30px;
}
#section-holder .section-one span {
  color: #fff;
  padding-bottom: 20px;
}

#section-holder .section-one button {
  width: 100px;
  height: 30px;
  background-color: #5cbe88;
  border: none;
  border-radius: 5px;
}

#section-holder .section-one button:hover {
  background-color: orange;
  color: #fff;
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}
#section-holder .section-two {
  width: 600px;
  background-image: url(img/shoe-b-2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section-holder .section-two h1 {
  font-size: 30px;
}

#section-holder .section-two span {
  padding-bottom: 20px;
  color: #fff;
}

#section-holder .section-two button {
  width: 100px;
  height: 30px;
  background-color: #5cbe88;
  border: none;
  border-radius: 5px;
}
#section-holder .section-two button:hover {
  background-color: orange;
  color: #fff;
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}

.footer {
  width: 100%;
  height: 40vh;
  background-color: #374d5b;
  padding: 20px 80px;
}

.footer h1 {
  color: #fff;
}

.boxHolder {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  line-height: 25px;
  cursor: pointer;
}

.first-box span {
  color: white;
}

.icon ul {
  margin-top: 10px;
  width: 100px;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
}

.icon li {
  list-style: none;
}

#stylist-outfit {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 80px;
}

#stylist-outfit {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 80px;
}

#new-arrival {
  padding: 20px 80px;
  width: 100%;
  height: 50vh;
  background-image: url(img/newArrival.jpg);
  background-repeat: no-repeat;
  background-position: 20% 35%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.new-one {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-one h4 {
  color: #fff;
}
.new-one h1 {
  font-size: 100px;
  color: #fff;
}
.new-one span {
  color: #fff;
  padding-bottom: 20px;
}
.new-one button {
  background-color: #fff;
  color: rgb(231, 52, 52);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-one button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}

#best-choices {
  width: 100%;
  height: 85vh;
  padding: 20px 80px;
}
#best-choices h1 {
  padding: 30px 80px;
  display: flex;
  justify-content: center;
}

.product-holder {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-holder img {
  width: 400px;
  height: 400px;
}

.product-holder button {
  margin-top: 10px;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-holder button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}
.prod1 button {
  background-color: #efa71b;
}
.prod2 button {
  background-color: #498dff;
}
.prod3 button {
  background-color: #efcfd5;
}

#weeklyDeals {
  width: 100%;
  height: 70vh;
  padding: 20px 80px;
  background-repeat: no-repeat;
  background-image: url(img/weeklyDeals.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.weeklyDealsOne {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.weeklyDealsOne h1 {
  font-size: 50px;
  color: #fff;
}
.weeklyDealsOne span {
  color: #fff;
  padding-bottom: 20px;
}

.weeklyDealsOne button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.weeklyDealsOne button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}

#newsletter {
  margin: 20px 0;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/newsletter.jpg);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  height: 25vh;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  height: 3.125rem;
  padding: 0 1.25em;
  border: none;
  border-radius: 5px;
  background-color: #1ed5c9;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.new-one {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-one h4 {
  color: #fff;
}
.new-one h1 {
  font-size: 100px;
  color: #fff;
}
.new-one span {
  color: #fff;
  padding-bottom: 20px;
}
.new-one button {
  background-color: #fff;
  color: rgb(231, 52, 52);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#aboutUs {
  padding: 20px 80px;

}

#aboutUs .holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#aboutUs .holder .holder1{
  padding: 20px 80px;
  width: 500px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: orange;
  color: #fff;
}

#aboutUs .holder .holder1 h4{
  padding-bottom: 10px;
}

#aboutUs .holder .holder1 .buttonHolder{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#aboutUs .holder .holder1 .buttonHolder button{
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#aboutUs .holder .holder1 .buttonHolder button:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
}

#aboutUs .holder .holder1 .buttonHolder ul{
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#aboutUs .holder .holder1 .buttonHolder ul li{
  list-style: none;
}


#aboutUs .holder .holder2{
  width: 500px;
}

#aboutUs .holder .holder2 img{
  width: 100%;
}

